<form [formGroup]="form" (submit)="formSubmit()">
    <h1 mat-dialog-title>Authorization</h1>

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" formControlName="password" type="password">
    </mat-form-field>

    <mat-checkbox color='primary' formControlName="isNewAccount">Create account</mat-checkbox>
    
    <div mat-dialog-actions class='mat-dialog-actions'>
        <button mat-raised-button mat-dialog-close>Close</button>
        <button mat-raised-button mat-dialog-close color='primary' type="submit">Login</button>
    </div>
</form>