<mat-card class="content" *ngIf="!isMobile; else mobile">
    <mat-card-header>
      <mat-card-title>Game Controls</mat-card-title>
    </mat-card-header>
    <div *ngIf="!(isGameOn$ | async); else restart" class="start-game-btns" >
      <button  mat-raised-button color='primary' (click)="startGame()" >Start game</button>
      <button mat-raised-button color='primary' disabled >--</button>
    </div>
    <mat-checkbox
      class="use_hint"
      color="primary"
      (change)="showHintTooltip.emit($event.checked)"
    >Show tooltip on hover
    </mat-checkbox>
</mat-card>

  <ng-template #restart>
    <div class="start-game-btns" >      
      <button mat-raised-button color='primary' (click)="reStartGame()" >Re-start game</button>
      <button mat-raised-button color='primary' (click)="skip()" >Skip</button>
    </div>
  </ng-template>

<ng-template #mobile>
  <div *ngIf="!(isGameOn$ | async); else restartMobile">
    <mat-icon (click)="startGame()">play_arrow</mat-icon>
  </div>
</ng-template>

<ng-template #restartMobile>
  <div class="start-game-btns-mobile" >  
    <mat-icon (click)="reStartGame()">restart_alt</mat-icon>
    <mat-icon (click)="skip()">skip_next</mat-icon>
  </div>
</ng-template>