
.content {
    display: grid;
    justify-items: center;
    margin: 1rem;

    form {
        display: grid;
        padding: 1rem;
    }
}

mat-icon {
    color: white;
    display: block;
}

@media screen and (max-width: 900px) {
    .content {
        margin: 0;
    }
}
