
.content {
    display: grid;
    justify-items: center;
    margin: 1rem;

    form {
        display: grid;
        padding: 1rem;
    }

    .use_hint {
        padding: 1rem;
    }

    .start-game-btn {
        width: calc(100% - 2rem);
    }
}
