<mat-card class="content">
    <mat-card-header>
      <mat-card-title>Game Settings</mat-card-title>
    </mat-card-header>
    <form [formGroup]='form' (submit)="formSubmit()">
      <mat-form-field appearance='outline'>
        <mat-label>Map to display</mat-label>
        <mat-select formControlName='selectedMap'>
          <mat-option *ngFor="let map of mapsToSelect" [value]="map">
            {{map}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <button type="submit" mat-raised-button color='primary'>Set map</button>
    </form>
    <button *ngIf="!(isGameOn$ | async); else restart" class="start-game-btn" mat-raised-button color='primary' (click)="startGame()" >Start game</button>
  </mat-card>

  <ng-template #restart>
    <button class="start-game-btn" mat-raised-button color='primary' (click)="reStartGame()" >Re-start game</button>
  </ng-template>