.main {
    display: grid;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    
    &.wide {
        grid-template-columns: 75% 25%; 
        grid-template-areas: "board track-results"
                                "board tool-settings";

    }

    &.narrow {
        grid-template-columns: 100%; 
        grid-template-areas: "board" 
                            "track-results"
                            "tool-settings";
    }

    app-map-board {
        grid-area: board;
        width: 100%;
        height: calc(100vh - 64px);
    }

    app-find-countries-results {
        grid-area: track-results;
        position: absolute;
    }
    app-find-countries-settings {
        grid-area: tool-settings;
        position: absolute;
    }

    app-find-countries-snack-bar {
        grid-area: board;
    }
}