:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.game-card {
    width: 20rem;

    mat-card-header {
        justify-content: center;
    }

    .card-image {
      position: relative;
      display: grid;
      margin-top: 16px;
      height: calc(20rem + 32px);

      .image-spinner {
        position: absolute;
        align-self: center;
        justify-self: center;
      }
    }

    mat-card-actions {
        display: flex;
        justify-content: center;
    }
}