<mat-card class="game-card" *ngFor='let gameCard of gamesConfig; let idx = index'>
    <mat-card-header>
      <mat-card-title>{{gameCard.name}}</mat-card-title>
    </mat-card-header>   
    <div class="card-image">
        <img mat-card-image [src]="gameCard.image" [alt]="gameCard.name" (load)="gamesImageLoadingStates[idx] = true" >
        <mat-spinner diameter="50" class="image-spinner" *ngIf="!gamesImageLoadingStates[idx]"></mat-spinner>
    </div>
    <mat-card-actions>
        <button  
        mat-raised-button 
        color='primary'
        [routerLink]='[gameCard.path]'
    >Play</button>
    </mat-card-actions>
  </mat-card>