:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.game-card {
    width: 20rem;

    mat-card-header {
        justify-content: center;
    }

    img {
      width: calc(20rem + 32px);
      height: calc(20rem + 32px);
    }

    mat-card-actions {
        display: flex;
        justify-content: center;
    }
}