:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .game-card {    
    margin: 1rem;
    
    mat-card-header {
      justify-content: center;
    }

    .card-image {
      position: relative;
      display: grid;
      margin-top: 16px;
      height: 300px;

      .image-spinner {
        position: absolute;
        align-self: center;
        justify-self: center;
      }
    }

    mat-card-actions {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 900px) {
  :host {
    flex-direction: column;
  }
}