:host {
    min-width: 15rem;
}

.time-set {
    display: grid;
    justify-items: center;
    row-gap: 1rem;
    margin: 1rem;

    .time {
        font-size: 2rem;
    }
}

@media screen and (max-width: 900px)  {
    :host {
        min-width: 10rem;
    }

    mat-card-header {
        display: none;
    }
}